/* Body */
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Containers */
.box-container{
  width: 80%;
  max-width: 1200px;
}

.chat-container{
  margin-top: 35px;
  height: 85vh;
  overflow: auto;
}

/* Form Containers */
#game-functions{
  background-color: white;
  text-align: center;
  margin: 0 10% 0 10%;
}

#send-container {
  background-color: white;
  bottom: 30px;
  display: flex;
  position: fixed;
}

/* Chat Lines */
/* #message-container {
  width: 80%;
  max-width: 1200px;
} */

#message-container div {
  background-color: #CCC;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #FFF;
}

/* User Input : Chat */
#message-input {
  flex-grow: 1;
}

/* User Input: Button */
/* #start-game{
  align-items: center;
} */
